.side
  .side__up
    .side__up__user-name
      = current_user.name
    .side__up__link-icon
      =link_to edit_user_path(current_user), class: "edit-account" do
        = fa_icon 'cog'
    .side__up__link-icon
      =link_to new_group_path, class: "new-group" do
        = fa_icon 'pencil-square-o'
  .side__under
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class: 'group-link' do
        .side__under__group-name
          = group.name
        .side__under__last-message
          = group.show_last_message
.main
  .main__up
    .main__up__left
      .main__up__left__group-name
        tatsuのグループ
      .main__up__left__member-names
        Member : tatsu
    .main__up__right
      .main__up__right__edit-button
        =link_to "Edit", "",class: "edit-group"
  .main__center
    = render @messages
  .main__under
    .main__under__contents
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main__under__contents__text-box', placeholder: 'ここに入力してください'
        .main__under__contents__text-box__link-icon
          = f.label :image do
            = fa_icon 'picture-o', class: 'selected-photo'
            = f.file_field :image, class: 'photo-link'
        = f.submit 'Send', class: 'main__under__contents__send-button'