.side
  .side__up
    .side__up__user-name
      = current_user.name
    .side__up__link-icon
      =link_to edit_user_path(current_user), class: "edit-account" do
        = fa_icon 'cog'
    .side__up__link-icon
      =link_to new_group_path, class: "new-group" do
        = fa_icon 'pencil-square-o'
  .side__under
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class: 'group-link' do
        .side__under__group-name
          = group.name
        .side__under__last-message
          メッセージはまだありません。
.main
  .main__up
    .main__up__left
      .main__up__left__group-name
        tatsuのグループ
      .main__up__left__member-names
        Member : tatsu
    .main__up__right
      .main__up__right__edit-button
        =link_to "Edit", "",class: "edit-group"
  .main__center
    .main__center__message-name
      tatsu
    .main__center__message-date
      2019/10/04(Fri) 21:31:14
    .main__center__message-text
      こんにちは
  .main__under
    .main__under__contents
      .main__under__contents__text-box
        ここに入力してください
        .main__under__contents__text-box__link-icon
          =link_to "", class: "photo-link" do
            = fa_icon 'image'
      .main__under__contents__send-button
        =link_to "Send", "", class: "send-message"